@media screen and (max-width: 767px) {
    #bloc-page {
        padding:0px;
    }
    .loader {
        
        width: 100%;
        height: 100%;
        background-color: white;
        position: fixed;
        animation: fadeout 0.2s 3s forwards;
        z-index:1;
      } 
      
      .loader-spiner  {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #ff79da;
        border-bottom: 16px solid #99E2D0;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        margin:auto;
        position: absolute;
        top: 0; left:0; right:0; bottom:0;
        position:absolute;  
        
      }
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      @keyframes fadeout {
          
      0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        visibility: hidden;
    }
}
    #location {
        background: #eaeaea;
        font-weight: 500;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
}
    #choice {
        width: 100%;
        -left: 1rem;
        -right: 1rem;
        -bottom: 3rem;
}

    .reservationContainer {
        padding : 6rem 2rem;
        background: whitesmoke;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
}
    .reservbutton {
        color: white;
        padding : 1.5rem 3rem;
        text-align: center;
        background: #ff79da;
        background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
        width: min-content;
        white-space: nowrap;
        margin: 4rem auto;
        border-radius: 30px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

    .reservbutton:hover {
        transform: scale(1.02) ;
    }
    h1 {
        font-size: 1.4rem;
        font-weight: bold;
        -top: 2rem;
        -bottom: 2rem;
        
    }


    .restaurants__figcaption__like__emptyheart {
        width: 1.5rem;
        position: absolute;
        left: 16em;
        top: 219px;
    
    }
    .restaurants__figcaption__like {
        display: flex;
        align-items: center;
        justify-content: right  ;
        position: relative;
        
    }

    .restaurants__figcaption__like__emptyheart {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5em;
        position: absolute;
        top: -38px;
        left: 441px;
    }

    
    .restaurants__figcaption__like__fullheart {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        position: absolute;
        width: 1.5em;
        top: -38px;
        left: 441px;
    }

    .restaurants__figcaption__like__fullheart:hover {
    opacity: 1;
    transition: 400ms ease-in-out;
    position: absolute;
    
    }
    .choiceTitle {
            margin: 0 0 -14px 1rem;
        }
    .step {
        margin:2rem;
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 20px;
        padding: 1rem;
        background: #F6F6F6;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    }
    .step:hover {
        background-color: #ff79da21;
        transform: scale(1.02);
    }
    .step-number {
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        position: absolute;
        left: -10px;
        border-radius: 20px;
        font-size: 0.9rem;
        color: #FFF;
        background: #9356DC;
    }
    #restau {
        background: #f6f6f6;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: auto;
        margin:auto;
        -bottom: 3rem
    }
    .restauTitle {
        align-self: flex-start;
        padding: 3rem 0rem 2rem 2rem;
    }

    .card {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        border-radius: 16px;
        overflow: hidden;
        width:500px;
        position: relative;
        height: 265px;
    }
        .card:hover {
            transform: scale(1.02);
    }
    .img-wrapper img {
        height: auto;
        max-height: 100%;
        width: 100%;
        text-align: center;
        object-fit: cover;
        width:500px;
        height:200px;
    }

    .cardNew {
        position: absolute;
        padding: 6px 13px;
        border-radius: 2px;
        font-size: 0.8rem;
        color: #10392f;
        background-color: #99E2D0;
        top: 13px;
        right: 1.5em;
        color: #1f997c;
    }
    h4 {
        font-weight: normal;
    }

    .card-content {
        margin: 11px 0px 0px 17px;
    }
    }