@media screen and (min-width: 768px) and (max-width:1024px) {
.note{
    object-fit: cover;
    width: 100%;
    max-height: 30rem;
}
h1 {
    font-family: Shrikhand;
}
h2 {
    padding: 0px 0px 0px 0;
    text-decoration: none;
    width: 10%;
    border-bottom: 4px solid #99e2d0;
}
.menuWrapper {
    width: 100%;
    border-radius: 4rem 4rem 0 0;
    background: whitesmoke;
    padding: 2rem;
    position: relative;
    margin-top: -4rem;
}
.menuHeader {
    margin-top: 2rem;
    margin-bottom: 4rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.menuItem {
    background: white;
    height: 9rem;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 25px 0px 31px 0px;
    padding: 1em 1em 0;
    width: auto;
}

.mainButton {
    color: white;
    padding: 1.5rem 3rem;
    text-align: center;
    background: #ff79da;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    width: min-content;
    white-space: nowrap;
    margin: 4rem auto;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.menuPrice {
    text-align: right;
}

.allMenus {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: space-between;
    margin: 0px 0 0 0;
}
}