@media screen and (max-width: 767px) {
.palette {
    object-fit: cover;
    width: 100%;
    max-height: 30rem;
}
h1 {
    font-family: Shrikhand;
}
.fa-heart {
    position: absolute;
    font-size: 30px;
    right: 40px;
    top: 60px;
}
.heart i {
    color:transparent;
    background-image:linear-gradient(162deg, #ff79da 0%, #9356dc 100%); 
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 400ms ease-in-out;
}

.heart i:hover {
    opacity: 1;
    transform: scale(1.2);

}
h2 {
    padding: 0px 0px 0px 0;
    text-decoration: none;
    width: 10%;
    border-bottom: 4px solid #99e2d0;
}
.menuWrapper {
    width: 100%;
    border-radius: 4rem 4rem 0 0;
    background: whitesmoke;
    padding: 2rem;
    position: relative;
    margin-top: -4rem;
}


.menuHeader {
    margin-top: 2rem;
    margin-bottom: 4rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.menuItem {
    background: white;
    height: 7rem;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 25px 0px 31px 0px;
    padding: 1em 1em 0;
    animation-duration:1s;
    animation-timing-function:ease-in-out;
    animation-name:slideIn;
}
@keyframes slideIn{
      
    from{
      
        opacity:0;
        transform:translate3d(0, 15px, 0);
      
    }
    
    to{
      
        opacity:1;
        transform:translate3d(0,0,0);
      
    }

}
.mainButton {
    color: white;
    padding: 1.5rem 3rem;
    text-align: center;
    background: #ff79da;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    width: min-content;
    white-space: nowrap;
    margin: 4rem auto;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.menuPrice {
    text-align: right;
}
}